* {
  font-family: "Roboto";
  text-decoration: none;
}

h1, h2, h3, h4, p {
  margin: 0px 0px 0px 0px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header h1 {
  font-family: "Shrikhand";
  font-size: 30px;
  margin-top: 14px;
  margin-bottom: 6px;
}
header img {
  display: none;
}
header .location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #EAEAEA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  gap: 17px;
}
header .location i {
  width: 12px;
  height: 16px;
}
header .location p {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding-bottom: 15.5px;
  padding-top: 15.5px;
}

body {
  margin: 0px;
}
body .reservation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F6F6F6;
}
body .reservation h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  padding-top: 39px;
  margin-bottom: 0px;
  margin-top: 0px;
  width: 74%;
}
body .reservation p {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #353535;
  padding-bottom: 31px;
  margin-top: 13px;
  margin-bottom: 0px;
  text-align: center;
}
body .reservation button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border: 0px;
  border-radius: 25px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  height: 50px;
  width: 66%;
  margin-bottom: 57px;
  z-index: 1;
}
body .reservation button:hover::after {
  opacity: 1;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}
body .reservation button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 25px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}
body .fonctionnement {
  display: flex;
  flex-direction: column;
}
body .fonctionnement h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  padding: 48px 0px 26px 20px;
  margin: 0px 0px 0px 0px;
}
body .fonctionnement .fonctionnement__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding-bottom: 68px;
}
body .fonctionnement button {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  width: 86%;
  height: 72.38px;
  border: 0px;
}
body .fonctionnement button .ordre {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -15px;
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  border-radius: 100%;
}
body .fonctionnement button i {
  color: grey;
  padding-left: 28px;
}
body .fonctionnement button .i--purple {
  color: #9356DC;
}
body .fonctionnement button h3 {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding-left: 27px;
}
body .restaurants {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
}
body .restaurants h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  padding-top: 54px;
  padding-left: 20px;
  padding-bottom: 26px;
}
body .restaurants .restaurants__cards {
  display: flex;
  flex-direction: column;
  padding: 0px 17px 66px 17px;
  gap: 18px;
}
body .restaurants .restaurants__cards a {
  display: flex;
  height: 251px;
  width: 100%;
  text-decoration: none;
}
body .restaurants .restaurants__cards a .card {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
body .restaurants .restaurants__cards a .card__image-container {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}
body .restaurants .restaurants__cards a .card__image-container img {
  position: absolute;
  display: flex;
  height: 174px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
body .restaurants .restaurants__cards a .card__image-container__nouveau {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 25.14%;
  height: 16.67%;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  background: #99E2D0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  color: #008766;
  z-index: 1;
  margin: 13px 12px 0px 0px;
}
body .restaurants .restaurants__cards a .card__card-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: #000000;
  justify-content: space-between;
  align-items: center;
}
body .restaurants .restaurants__cards a .card__card-content .card-content__card-txt {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
body .restaurants .restaurants__cards a .card__card-content .card-content__card-txt .card-txt__card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  padding-top: 12px;
  padding-left: 13px;
}
body .restaurants .restaurants__cards a .card__card-content .card-content__card-txt .card-txt__card-subtitle {
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  padding-bottom: 12px;
  padding-left: 13px;
}
body .restaurants .restaurants__cards a .card__card-content .card-content__card-favorite {
  display: flex;
  width: 22px;
  height: 21px;
  margin: 23px 25px 33px 0px;
}
body .restaurants .restaurants__cards a .card__card-content .card-content__card-favorite input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 21px;
  width: 22px;
  z-index: 2;
}
body .restaurants .restaurants__cards a .card__card-content .card-content__card-favorite img {
  position: absolute;
  cursor: pointer;
  width: 22px;
  height: 21px;
  border-radius: 0px;
  z-index: 2;
}
body .restaurants .restaurants__cards a .card__card-content .card-content__card-favorite .like-active {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  transition: opacity 250ms;
}
body .restaurants .restaurants__cards a .card__card-content .card-content__card-favorite input:checked + img {
  opacity: 0;
}
body footer {
  display: flex;
  flex-direction: column;
  background: #353535;
}
body footer h2 {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  padding: 22px 0px 19px 25px;
  color: white;
}
body footer .footer__links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 22px 25px;
  gap: 7px;
}
body footer .footer__links a {
  display: flex;
  flex-direction: row;
  color: white;
  gap: 10px;
}
body footer .footer__links a p {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
body footer .footer__links a .p--thin {
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */